#main-title {
  text-align: center;
  font-size: 35px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

li {
  border: solid;
  display: inline-block;
  text-align: center;
  width: 850px;
}

.header {
  color: darkblue;
  background-color: lightblue;
  text-align: center;
}